<h1>Portfolio items</h1>
<!--<a href="portfolios/new">Create a new portfolio</a>-->

<%= link_to "Create a new portfolio", new_portfolio_path %>

<% @portfolio_items.each do |portfolio| %>
  <p><%= link_to portfolio.title, portfolio_path(portfolio) %></p>
  <p><%= portfolio.subtitle %></p>
  <p><%= portfolio.body %></p>
  <%= image_tag(portfolio.thumb_image) if portfolio.thumb_image %>
  <%= link_to "Edit", edit_portfolio_path(portfolio) %>

<% end %>
